@{
    var currentPath = Context.Request.Path.ToString();
}

<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">Mandala</h3>
        </a>
        <div class="navbar-nav w-100">
            <a asp-controller="Home" asp-action="Index" class="nav-item nav-link @(currentPath == "/" ? "active": "" )"><i class="fa fa-home me-2"></i>Home</a>
            <a asp-controller="Classrooms" asp-action="Index" class="nav-item nav-link @(currentPath.Contains("/Classrooms") ? "active": "")"><i class="fa fa-th me-2"></i>Classrooms</a>
            <a asp-controller="Computers" asp-action="Index" class="nav-item nav-link @(currentPath.Contains("/Computers") ? "active": "")"><i class="fa fa-laptop me-2"></i>Computers</a>
            <a asp-controller="Subjects" asp-action="Index" class="nav-item nav-link @(currentPath.Contains("/Subjects") ? "active": "")"><i class="fa fa-chart-bar me-2"></i>Subjects</a>
        </div>
    </nav>
</div>