@{
    ViewData["Title"] = "Home Page";
}

<div class="row g-4" style="text-align: center;">
    <div class="bg-secondary rounded h-100 p-4">
        <h1 class="mb-4">Welcome to Mandala!</h1>
        <div class="m-n2">
            <a href="/"class="btn btn-primary m-2">Login</a>
            <a href="/Users/Register" class="btn btn-dark m-2">Register</a>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4" style="background: url('./img/homebg.jpg'); height: 500px;">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
            </div>
        </div>
    </div>
</div>